#data {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
}
.user-card {
  color: aliceblue;
  background-color: brown;
  width: 300px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
}
.user-card-selected {
  color: brown;
  background-color: aliceblue;
}
.user-card img {
  margin: 5px;
  border: 3px solid white;
  border-radius: 10px;
}
.user-card .user-name {
  margin: 5px;
}
.user-card .user-email {
  margin-bottom: 30px;
}
.select-user-button {
  font-weight: 900;
  color: white;
  background-color: rgb(190, 201, 36);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
}
.app > button {
  color: grey;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  background-color: pink;
  margin: 15px;
}
.button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
